# ðŸ”´ Task 12: Introduction to Pandas (Series, DataFrame basics)

#### 1. Create a Pandas Series from a Python list, numpy array, and a dictionary.

In [1]:
import numpy as np
import pandas as pd

In [2]:
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([6, 7, 8, 9, 10])
dict1 = {'a': 11, 'b': 12, 'c': 13, 'd': 14, 'e': 15}

pd_series1 = pd.Series(arr1)
pd_series2 = pd.Series(arr2)
pd_series3 = pd.Series(dict1)

print(pd_series1)
print(pd_series2)
print(pd_series3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     6
1     7
2     8
3     9
4    10
dtype: int64
a    11
b    12
c    13
d    14
e    15
dtype: int64

#### 2. Assign a custom index to the Series.

In [3]:
custom_index = ['a', 'b', 'c', 'd', 'e']
pd_series1 = pd.Series(arr1, index=custom_index)
pd_series2 = pd.Series(arr2, index=custom_index)
pd_series3 = pd.Series(dict1, index=custom_index)

print(pd_series1)
print(pd_series2)
print(pd_series3)

a    1
b    2
c    3
d    4
e    5
dtype: int64
a     6
b     7
c     8
d     9
e    10
dtype: int64
a    11
b    12
c    13
d    14
e    15
dtype: int64

#### 3. Perform basic arithmetic operations on Series.

In [4]:
pd_series4 = pd_series2 - pd_series1
pd_series5 = pd_series3 - pd_series1
pd_series6 = pd_series2 * pd_series3
pd_series7 = pd_series3 / pd_series1

print(pd_series4)
print(pd_series5)
print(pd_series6)
print(pd_series7)

a    5
b    5
c    5
d    5
e    5
dtype: int64
a    10
b    10
c    10
d    10
e    10
dtype: int64
a     66
b     84
c    104
d    126
e    150
dtype: int64
a    11.000000
b     6.000000
c     4.333333
d     3.500000
e     3.000000
dtype: float64

#### 4. Access elements using index labels and positions.

In [5]:
print("Index Labels:")
print(pd_series1['b'])
print(pd_series2['d'])
print(pd_series3['c'])

print("Index Positions:")
print(pd_series1.iloc[1])
print(pd_series2.iloc[3])
print(pd_series3.iloc[2])

Index Labels:
2
9
13
Index Positions:
2
9
13

#### 5. Filter the Series to include only values greater than a specific threshold.

In [6]:
fil_ser1 = pd_series1[pd_series1 > 2]
fil_ser2 = pd_series2[pd_series2 > 5]
fil_ser3 = pd_series3[pd_series3 > 7]

print(fil_ser1)
print(fil_ser2)
print(fil_ser3)

c    3
d    4
e    5
dtype: int64
a     6
b     7
c     8
d     9
e    10
dtype: int64
a    11
b    12
c    13
d    14
e    15
dtype: int64

#### 6. Create a DataFrame from a dictionary of lists.

In [7]:
std_data = {
    "Roll Number" : [4, 8, 9, 12, 15],
    "Name" : ['Subhan', 'Ahmad', 'Umer', 'Nauman', 'Asher'],
    "Age" : [20, 19, 19, 20, 24],
    "Discpline" : ['CS', 'CS', 'FSC', 'CS', 'DS']
}
std_dataFrame = pd.DataFrame(std_data)
print(std_dataFrame)

   Roll Number    Name  Age Discpline
0            4  Subhan   20        CS
1            8   Ahmad   19        CS
2            9    Umer   19       FSC
3           12  Nauman   20        CS
4           15   Asher   24        DS

#### 7. Create a DataFrame from a numpy array, specifying column and index names.

In [8]:
arr3 = np.array([[4, 7, 9, 6, 11],[2, 8, 4, 10, 16],[1, 3, 14, 21, 30]])
arr3_dataFrame = pd.DataFrame(arr3, columns=['A', 'B', 'C', 'D','E'], index=['1', '2', '3'])
print(arr3_dataFrame)

   A  B   C   D   E
1  4  7   9   6  11
2  2  8   4  10  16
3  1  3  14  21  30

#### 8. Load a DataFrame from a CSV file.

In [9]:
import_dataFrame = pd.read_csv('year-past.csv')
print(import_dataFrame)

     Year
0    2023
1    2022
2    2021
3    2020
4    2019
..    ...
98   1925
99   1924
100  1923
101  1922
102  1921

[103 rows x 1 columns]

#### 9. Display the first and last five rows of the DataFrame.

In [10]:
print("First 5 rows:")
print(import_dataFrame.head())
print()

print("Last 5 rows:")
print(import_dataFrame.tail())

First 5 rows:
   Year
0  2023
1  2022
2  2021
3  2020
4  2019

Last 5 rows:
     Year
98   1925
99   1924
100  1923
101  1922
102  1921

#### 10. Get a summary of the DataFrame including the mean, median, and standard deviation of numeric columns.

In [11]:
sum_dataFrame = import_dataFrame.describe()
print(sum_dataFrame)

              Year
count   103.000000
mean   1972.000000
std      29.877528
min    1921.000000
25%    1946.500000
50%    1972.000000
75%    1997.500000
max    2023.000000

#### 11.Extract a specific column as a Series.

In [12]:
age_series = import_dataFrame.Year
print(age_series)

0      2023
1      2022
2      2021
3      2020
4      2019
       ...
98     1925
99     1924
100    1923
101    1922
102    1921
Name: Year, Length: 103, dtype: int64

#### 12.Filter rows based on column values.

In [19]:
rows_2023 = importDataFrame['Year'] == 2023
print("Rows where Year is 2023:")
print(rows_2023)
print()

Rows where Year is 2023:
0       True
1      False
2      False
3      False
4      False
       ...
98     False
99     False
100    False
101    False
102    False
Name: Year, Length: 103, dtype: bool

#### 13. Select rows based on multiple conditions.

In [25]:
rows_2020_2010 = importDataFrame[(importDataFrame['Year'] >= 2010) & (importDataFrame['Year'] <= 2020)]
print("Rows where Year is between 2020 and 2010 (inclusive):")
print(rows_2020_2010)

Rows where Year is between 2020 and 2010 (inclusive):
    Year
3   2020
4   2019
5   2018
6   2017
7   2016
8   2015
9   2014
10  2013
11  2012
12  2011
13  2010

#### 14. Add a new column to the DataFrame.

In [28]:
importDataFrame['Century'] = (importDataFrame['Year'] - 1) // 100 + 1
print(importDataFrame)

     Year  Century
0    2023       21
1    2022       21
2    2021       21
3    2020       21
4    2019       21
..    ...      ...
98   1925       20
99   1924       20
100  1923       20
101  1922       20
102  1921       20

[103 rows x 2 columns]

#### 15. Delete a column from the DataFrame.

In [30]:
importDataFrame = importDataFrame.drop('Century', axis=1)
print(importDataFrame2)

     Year
0    2023
1    2022
2    2021
3    2020
4    2019
..    ...
98   1925
99   1924
100  1923
101  1922
102  1921

[103 rows x 1 columns]

#### 16. Rename columns in the DataFrame.

In [33]:
importDataFrame = importDataFrame.rename(columns={'Year': 'Date'})
print(importDataFrame)

     Date
0    2023
1    2022
2    2021
3    2020
4    2019
..    ...
98   1925
99   1924
100  1923
101  1922
102  1921

[103 rows x 1 columns]