# ðŸ”´ Task 14: Data cleaning and preprocessing with Pandas

#### 1. Identify missing values in the DataFrame.

In [102]:
import pandas as pd
import numpy as np
import io

import_dataFrame = pd.read_csv('flights.csv')

#### 1.  Identify missing values in the DataFrame.

In [103]:
null_val = import_dataFrame.isnull()
print(null_val)

      year  month  passengers
0    False  False       False
1    False  False       False
2    False  False       False
3    False  False       False
4    False  False       False
..     ...    ...         ...
140  False  False       False
141  False  False       False
142  False  False       False
143  False  False       False
144  False   True       False

[145 rows x 3 columns]

#### 2. Drop rows with any missing values.

In [104]:
null_drop = import_dataFrame.dropna()
print(null_drop)

     year      month  passengers
0    1949    January       112.0
1    1949   February       118.0
2    1949      March       132.0
3    1949      April       129.0
4    1949        May       121.0
..    ...        ...         ...
139  1960     August       606.0
140  1960  September       508.0
141  1960    October       461.0
142  1960   November       390.0
143  1960   December       432.0

[139 rows x 3 columns]

#### 3. Drop columns with any missing values.

In [105]:
null_drop = import_dataFrame.dropna(axis=1)
print(null_drop)

     year
0    1949
1    1949
2    1949
3    1949
4    1949
..    ...
140  1960
141  1960
142  1960
143  1960
144  1961

[145 rows x 1 columns]

#### 4. Fill missing values with a specific value.

In [106]:
miss_fill = import_dataFrame.fillna('May')
print(miss_fill)

     year      month passengers
0    1949    January      112.0
1    1949   February      118.0
2    1949      March      132.0
3    1949      April      129.0
4    1949        May      121.0
..    ...        ...        ...
140  1960  September      508.0
141  1960    October      461.0
142  1960   November      390.0
143  1960   December      432.0
144  1961        May      226.0

[145 rows x 3 columns]

#### 5. Fill missing values using forward fill and backward fill methods.

In [107]:
forward_fill = import_dataFrame.ffill()
backward_fill = import_dataFrame.bfill()
print(forward_fill)
print(backward_fill)

     year      month  passengers
0    1949    January       112.0
1    1949   February       118.0
2    1949      March       132.0
3    1949      April       129.0
4    1949        May       121.0
..    ...        ...         ...
140  1960  September       508.0
141  1960    October       461.0
142  1960   November       390.0
143  1960   December       432.0
144  1961   December       226.0

[145 rows x 3 columns]
     year      month  passengers
0    1949    January       112.0
1    1949   February       118.0
2    1949      March       132.0
3    1949      April       129.0
4    1949        May       121.0
..    ...        ...         ...
140  1960  September       508.0
141  1960    October       461.0
142  1960   November       390.0
143  1960   December       432.0
144  1961        NaN       226.0

[145 rows x 3 columns]

#### 6. Interpolate missing values.

In [108]:
new_data = {
    'A': [1, 2, np.nan, 4, 5, np.nan, 7],
    'B': [10, 11, 12, np.nan, 14, 15, 16],
    'C': [20, np.nan, 22, 23, 24, 25, 26]
}
import_dataFrame2 = pd.DataFrame(new_data)
df_interpolated = import_dataFrame2.interpolate(method='linear', axis=0, limit_direction='forward')
print(df_interpolated)

     A     B     C
0  1.0  10.0  20.0
1  2.0  11.0  21.0
2  3.0  12.0  22.0
3  4.0  13.0  23.0
4  5.0  14.0  24.0
5  6.0  15.0  25.0
6  7.0  16.0  26.0

#### 7.Convert a column to a different data type.

In [109]:
print(import_dataFrame.dtypes)

import_dataFrame['year'] = import_dataFrame['year'].astype(int)

print(import_dataFrame.dtypes)

year            int64
month          object
passengers    float64
dtype: object
year            int64
month          object
passengers    float64
dtype: object

#### 8. Apply a function to transform the values of a column.

In [110]:
def half_pass(x):
    return x / 2

import_dataFrame['passengers'] = import_dataFrame['passengers'].apply(half_pass)

print(import_dataFrame)

     year      month  passengers
0    1949    January        56.0
1    1949   February        59.0
2    1949      March        66.0
3    1949      April        64.5
4    1949        May        60.5
..    ...        ...         ...
140  1960  September       254.0
141  1960    October       230.5
142  1960   November       195.0
143  1960   December       216.0
144  1961        NaN       113.0

[145 rows x 3 columns]

#### 9. Normalize a column using Min-Max scaling.

In [111]:
import_dataFrame['normalized_passengers'] = (import_dataFrame['passengers'] - import_dataFrame['passengers'].min()) / (import_dataFrame['passengers'].max() - import_dataFrame['passengers'].min())

print(import_dataFrame)

     year      month  passengers  normalized_passengers
0    1949    January        56.0               0.015444
1    1949   February        59.0               0.027027
2    1949      March        66.0               0.054054
3    1949      April        64.5               0.048263
4    1949        May        60.5               0.032819
..    ...        ...         ...                    ...
140  1960  September       254.0               0.779923
141  1960    October       230.5               0.689189
142  1960   November       195.0               0.552124
143  1960   December       216.0               0.633205
144  1961        NaN       113.0               0.235521

[145 rows x 4 columns]

#### 10. Standardize a column (z-score normalization).

In [112]:
import_dataFrame['normalized_passengers'] = (import_dataFrame['passengers'] - import_dataFrame['passengers'].mean()) / (import_dataFrame['passengers'].std())

print(import_dataFrame)

     year      month  passengers  normalized_passengers
0    1949    January        56.0              -1.412415
1    1949   February        59.0              -1.362223
2    1949      March        66.0              -1.245107
3    1949      April        64.5              -1.270203
4    1949        May        60.5              -1.337127
..    ...        ...         ...                    ...
140  1960  September       254.0               1.900280
141  1960    October       230.5               1.507107
142  1960   November       195.0               0.913164
143  1960   December       216.0               1.264510
144  1961        NaN       113.0              -0.458760

[145 rows x 4 columns]

#### 11. Identify duplicate rows in the DataFrame.

In [113]:
dup_rows = import_dataFrame.duplicated()
print(dup_rows)

0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Length: 145, dtype: bool

#### 12. Drop duplicate rows.

In [114]:
duplicate_remove = import_dataFrame.drop_duplicates()
print(duplicate_remove)

     year      month  passengers  normalized_passengers
0    1949    January        56.0              -1.412415
1    1949   February        59.0              -1.362223
2    1949      March        66.0              -1.245107
3    1949      April        64.5              -1.270203
4    1949        May        60.5              -1.337127
..    ...        ...         ...                    ...
140  1960  September       254.0               1.900280
141  1960    October       230.5               1.507107
142  1960   November       195.0               0.913164
143  1960   December       216.0               1.264510
144  1961        NaN       113.0              -0.458760

[144 rows x 4 columns]

#### 13. Drop duplicate rows based on specific columns.

In [115]:
duplicate_remove2 = import_dataFrame.drop_duplicates(subset=['passengers', 'month'])
print(duplicate_remove2)

     year      month  passengers  normalized_passengers
0    1949    January        56.0              -1.412415
1    1949   February        59.0              -1.362223
2    1949      March        66.0              -1.245107
3    1949      April        64.5              -1.270203
4    1949        May        60.5              -1.337127
..    ...        ...         ...                    ...
140  1960  September       254.0               1.900280
141  1960    October       230.5               1.507107
142  1960   November       195.0               0.913164
143  1960   December       216.0               1.264510
144  1961        NaN       113.0              -0.458760

[142 rows x 4 columns]

#### 14. Convert all string values in a column to lowercase.

In [116]:
# Convert all string values in column 'A' to lowercase
import_dataFrame['month'] = import_dataFrame['month'].str.lower()
print(import_dataFrame)

     year      month  passengers  normalized_passengers
0    1949    january        56.0              -1.412415
1    1949   february        59.0              -1.362223
2    1949      march        66.0              -1.245107
3    1949      april        64.5              -1.270203
4    1949        may        60.5              -1.337127
..    ...        ...         ...                    ...
140  1960  september       254.0               1.900280
141  1960    october       230.5               1.507107
142  1960   november       195.0               0.913164
143  1960   december       216.0               1.264510
144  1961        NaN       113.0              -0.458760

[145 rows x 4 columns]

#### 15. Remove leading and trailing spaces from string values in a column.

In [117]:
import_dataFrame['month'] = import_dataFrame['month'].str.strip()
print(import_dataFrame)

     year      month  passengers  normalized_passengers
0    1949    january        56.0              -1.412415
1    1949   february        59.0              -1.362223
2    1949      march        66.0              -1.245107
3    1949      april        64.5              -1.270203
4    1949        may        60.5              -1.337127
..    ...        ...         ...                    ...
140  1960  september       254.0               1.900280
141  1960    october       230.5               1.507107
142  1960   november       195.0               0.913164
143  1960   december       216.0               1.264510
144  1961        NaN       113.0              -0.458760

[145 rows x 4 columns]

#### 16. Replace a specific substring in a column with another substring.

In [118]:
import_dataFrame['month'] = import_dataFrame['month'].str.replace('february', '2nd Month')
print(import_dataFrame)

     year      month  passengers  normalized_passengers
0    1949    january        56.0              -1.412415
1    1949  2nd Month        59.0              -1.362223
2    1949      march        66.0              -1.245107
3    1949      april        64.5              -1.270203
4    1949        may        60.5              -1.337127
..    ...        ...         ...                    ...
140  1960  september       254.0               1.900280
141  1960    october       230.5               1.507107
142  1960   november       195.0               0.913164
143  1960   december       216.0               1.264510
144  1961        NaN       113.0              -0.458760

[145 rows x 4 columns]

#### 17. Extract a substring from each value in a column.

In [119]:

d = {
    'Name': ['John Doe', 'Jane Smith', 'Bob Johnson', 'Alice Williams'],
    'Email': ['john.doe@example.com', 'jane.smith@example.org', 'bob.johnson@example.net', 'alice.williams@example.co.uk']
}

df = pd.DataFrame(d)

df['Domain'] = df['Email'].str.split('@').str[1]

print(df)

             Name                         Email         Domain
0        John Doe          john.doe@example.com    example.com
1      Jane Smith        jane.smith@example.org    example.org
2     Bob Johnson       bob.johnson@example.net    example.net
3  Alice Williams  alice.williams@example.co.uk  example.co.uk

#### 18. Convert a column to datetime format.

In [120]:
import_dataFrame['date'] = pd.date_range(start='1949-01-01', periods=len(import_dataFrame), freq='D')
import_dataFrame['date'] = pd.to_datetime(import_dataFrame['date'])
print(import_dataFrame)

     year      month  passengers  normalized_passengers       date
0    1949    january        56.0              -1.412415 1949-01-01
1    1949  2nd Month        59.0              -1.362223 1949-01-02
2    1949      march        66.0              -1.245107 1949-01-03
3    1949      april        64.5              -1.270203 1949-01-04
4    1949        may        60.5              -1.337127 1949-01-05
..    ...        ...         ...                    ...        ...
140  1960  september       254.0               1.900280 1949-05-21
141  1960    october       230.5               1.507107 1949-05-22
142  1960   november       195.0               0.913164 1949-05-23
143  1960   december       216.0               1.264510 1949-05-24
144  1961        NaN       113.0              -0.458760 1949-05-25

[145 rows x 5 columns]

#### 19. Extract year, month, and day from a datetime column.

In [121]:
import_dataFrame['year'] = import_dataFrame['date'].dt.year
import_dataFrame['month'] = import_dataFrame['date'].dt.month
import_dataFrame['day'] = import_dataFrame['date'].dt.day
print(import_dataFrame)

     year  month  passengers  normalized_passengers       date  day
0    1949      1        56.0              -1.412415 1949-01-01    1
1    1949      1        59.0              -1.362223 1949-01-02    2
2    1949      1        66.0              -1.245107 1949-01-03    3
3    1949      1        64.5              -1.270203 1949-01-04    4
4    1949      1        60.5              -1.337127 1949-01-05    5
..    ...    ...         ...                    ...        ...  ...
140  1949      5       254.0               1.900280 1949-05-21   21
141  1949      5       230.5               1.507107 1949-05-22   22
142  1949      5       195.0               0.913164 1949-05-23   23
143  1949      5       216.0               1.264510 1949-05-24   24
144  1949      5       113.0              -0.458760 1949-05-25   25

[145 rows x 6 columns]

#### 20. Filter rows based on a date range.

In [122]:
start = '1949-01-01'
end = '1949-12-31'
filtered = import_dataFrame[(import_dataFrame['date'] >= start) & (import_dataFrame['date'] <= end)]
print(filtered)

     year  month  passengers  normalized_passengers       date  day
0    1949      1        56.0              -1.412415 1949-01-01    1
1    1949      1        59.0              -1.362223 1949-01-02    2
2    1949      1        66.0              -1.245107 1949-01-03    3
3    1949      1        64.5              -1.270203 1949-01-04    4
4    1949      1        60.5              -1.337127 1949-01-05    5
..    ...    ...         ...                    ...        ...  ...
140  1949      5       254.0               1.900280 1949-05-21   21
141  1949      5       230.5               1.507107 1949-05-22   22
142  1949      5       195.0               0.913164 1949-05-23   23
143  1949      5       216.0               1.264510 1949-05-24   24
144  1949      5       113.0              -0.458760 1949-05-25   25

[145 rows x 6 columns]

#### 21. Convert a categorical column to numerical using one-hot encoding.

In [123]:
cat_col = pd.get_dummies(import_dataFrame, columns=['month'])
print(cat_col)

     year  passengers  normalized_passengers       date  day  month_1  \
0    1949        56.0              -1.412415 1949-01-01    1     True
1    1949        59.0              -1.362223 1949-01-02    2     True
2    1949        66.0              -1.245107 1949-01-03    3     True
3    1949        64.5              -1.270203 1949-01-04    4     True
4    1949        60.5              -1.337127 1949-01-05    5     True
..    ...         ...                    ...        ...  ...      ...
140  1949       254.0               1.900280 1949-05-21   21    False
141  1949       230.5               1.507107 1949-05-22   22    False
142  1949       195.0               0.913164 1949-05-23   23    False
143  1949       216.0               1.264510 1949-05-24   24    False
144  1949       113.0              -0.458760 1949-05-25   25    False

     month_2  month_3  month_4  month_5
0      False    False    False    False
1      False    False    False    False
2      False    False    False    False
3      False    False    False    False
4      False    False    False    False
..       ...      ...      ...      ...
140    False    False    False     True
141    False    False    False     True
142    False    False    False     True
143    False    False    False     True
144    False    False    False     True

[145 rows x 10 columns]

#### 22. Convert a categorical column to numerical using label encoding.

In [124]:
import_dataFrame['month_encoded'] = import_dataFrame['month'].astype('category').cat.codes
print(import_dataFrame)

     year  month  passengers  normalized_passengers       date  day  \
0    1949      1        56.0              -1.412415 1949-01-01    1
1    1949      1        59.0              -1.362223 1949-01-02    2
2    1949      1        66.0              -1.245107 1949-01-03    3
3    1949      1        64.5              -1.270203 1949-01-04    4
4    1949      1        60.5              -1.337127 1949-01-05    5
..    ...    ...         ...                    ...        ...  ...
140  1949      5       254.0               1.900280 1949-05-21   21
141  1949      5       230.5               1.507107 1949-05-22   22
142  1949      5       195.0               0.913164 1949-05-23   23
143  1949      5       216.0               1.264510 1949-05-24   24
144  1949      5       113.0              -0.458760 1949-05-25   25

     month_encoded
0                0
1                0
2                0
3                0
4                0
..             ...
140              4
141              4
142              4
143              4
144              4

[145 rows x 7 columns]

#### 23. Group values in a categorical column and create a new column with grouped categories.

In [125]:
season_mapping = {
    'January': 'Winter',
    'February': 'Winter',
    'March': 'Spring',
    'April': 'Spring',
    'May': 'Spring',
    'June': 'Summer',
    'July': 'Summer',
    'August': 'Summer',
    'September': 'Fall',
    'October': 'Fall',
    'November': 'Fall',
    'December': 'Winter'
}

import_dataFrame['season'] = import_dataFrame['month'].map(season_mapping)

print(import_dataFrame)

     year  month  passengers  normalized_passengers       date  day  \
0    1949      1        56.0              -1.412415 1949-01-01    1
1    1949      1        59.0              -1.362223 1949-01-02    2
2    1949      1        66.0              -1.245107 1949-01-03    3
3    1949      1        64.5              -1.270203 1949-01-04    4
4    1949      1        60.5              -1.337127 1949-01-05    5
..    ...    ...         ...                    ...        ...  ...
140  1949      5       254.0               1.900280 1949-05-21   21
141  1949      5       230.5               1.507107 1949-05-22   22
142  1949      5       195.0               0.913164 1949-05-23   23
143  1949      5       216.0               1.264510 1949-05-24   24
144  1949      5       113.0              -0.458760 1949-05-25   25

     month_encoded season
0                0    NaN
1                0    NaN
2                0    NaN
3                0    NaN
4                0    NaN
..             ...    ...
140              4    NaN
141              4    NaN
142              4    NaN
143              4    NaN
144              4    NaN

[145 rows x 8 columns]

#### 24. Merge two DataFrames based on a common column.

In [126]:
data2 = """year,month,passengers
1950,January,115
1950,February,120
1950,March,135
1950,April,130
1950,May,125
1950,June,140
1950,July,
1950,August,150
1950,September,140
1950,October,125
1950,November,110
1950,December,120
1951,January,120"""
df2 = pd.read_csv(io.StringIO(data2))
merger = pd.merge(import_dataFrame, df2, on=['passengers'], how='outer')
print(merger)

     year_x  month_x  passengers  normalized_passengers       date   day  \
0    1949.0      1.0        52.0              -1.479338 1949-01-11  11.0
1    1949.0      1.0        56.0              -1.412415 1949-01-01   1.0
2    1949.0      1.0        57.0              -1.395684 1949-01-23  23.0
3    1949.0      1.0        57.5              -1.387319 1949-01-13  13.0
4    1949.0      1.0        59.0              -1.362223 1949-01-02   2.0
..      ...      ...         ...                    ...        ...   ...
150  1949.0      5.0       274.0               2.234896 1949-05-07   7.0
151  1949.0      5.0       279.5               2.326915 1949-05-08   8.0
152  1949.0      5.0       303.0               2.720089 1949-05-20  20.0
153  1949.0      5.0       311.0               2.853935 1949-05-19  19.0
154  1949.0      1.0         NaN                    NaN 1949-01-07   7.0

     month_encoded season  year_y month_y
0              0.0    NaN     NaN     NaN
1              0.0    NaN     NaN     NaN
2              0.0    NaN     NaN     NaN
3              0.0    NaN     NaN     NaN
4              0.0    NaN     NaN     NaN
..             ...    ...     ...     ...
150            4.0    NaN     NaN     NaN
151            4.0    NaN     NaN     NaN
152            4.0    NaN     NaN     NaN
153            4.0    NaN     NaN     NaN
154            0.0    NaN  1950.0    July

[155 rows x 10 columns]

#### 25. Concatenate two DataFrames vertically.

In [127]:
concat = pd.concat([import_dataFrame, df2], ignore_index=True)
print(concat)

     year      month  passengers  normalized_passengers       date  day  \
0    1949          1        56.0              -1.412415 1949-01-01  1.0
1    1949          1        59.0              -1.362223 1949-01-02  2.0
2    1949          1        66.0              -1.245107 1949-01-03  3.0
3    1949          1        64.5              -1.270203 1949-01-04  4.0
4    1949          1        60.5              -1.337127 1949-01-05  5.0
..    ...        ...         ...                    ...        ...  ...
153  1950  September       140.0                    NaN        NaT  NaN
154  1950    October       125.0                    NaN        NaT  NaN
155  1950   November       110.0                    NaN        NaT  NaN
156  1950   December       120.0                    NaN        NaT  NaN
157  1951    January       120.0                    NaN        NaT  NaN

     month_encoded season
0              0.0    NaN
1              0.0    NaN
2              0.0    NaN
3              0.0    NaN
4              0.0    NaN
..             ...    ...
153            NaN    NaN
154            NaN    NaN
155            NaN    NaN
156            NaN    NaN
157            NaN    NaN

[158 rows x 8 columns]

#### 26. Concatenate two DataFrames horizontally.

In [128]:
concat2 = pd.concat([import_dataFrame, df2], axis=1)
print(concat2)

     year month  passengers  normalized_passengers       date  day  \
0    1949     1        56.0              -1.412415 1949-01-01    1
1    1949     1        59.0              -1.362223 1949-01-02    2
2    1949     1        66.0              -1.245107 1949-01-03    3
3    1949     1        64.5              -1.270203 1949-01-04    4
4    1949     1        60.5              -1.337127 1949-01-05    5
..    ...   ...         ...                    ...        ...  ...
140  1949     5       254.0               1.900280 1949-05-21   21
141  1949     5       230.5               1.507107 1949-05-22   22
142  1949     5       195.0               0.913164 1949-05-23   23
143  1949     5       216.0               1.264510 1949-05-24   24
144  1949     5       113.0              -0.458760 1949-05-25   25

     month_encoded season    year     month  passengers
0                0    NaN  1950.0   January       115.0
1                0    NaN  1950.0  February       120.0
2                0    NaN  1950.0     March       135.0
3                0    NaN  1950.0     April       130.0
4                0    NaN  1950.0       May       125.0
..             ...    ...     ...       ...         ...
140              4    NaN     NaN       NaN         NaN
141              4    NaN     NaN       NaN         NaN
142              4    NaN     NaN       NaN         NaN
143              4    NaN     NaN       NaN         NaN
144              4    NaN     NaN       NaN         NaN

[145 rows x 11 columns]

#### 27.Create a new column based on existing columns.

In [129]:
import_dataFrame['double passengers'] = import_dataFrame['passengers'] * 2
print(import_dataFrame)

     year  month  passengers  normalized_passengers       date  day  \
0    1949      1        56.0              -1.412415 1949-01-01    1
1    1949      1        59.0              -1.362223 1949-01-02    2
2    1949      1        66.0              -1.245107 1949-01-03    3
3    1949      1        64.5              -1.270203 1949-01-04    4
4    1949      1        60.5              -1.337127 1949-01-05    5
..    ...    ...         ...                    ...        ...  ...
140  1949      5       254.0               1.900280 1949-05-21   21
141  1949      5       230.5               1.507107 1949-05-22   22
142  1949      5       195.0               0.913164 1949-05-23   23
143  1949      5       216.0               1.264510 1949-05-24   24
144  1949      5       113.0              -0.458760 1949-05-25   25

     month_encoded season  double passengers
0                0    NaN              112.0
1                0    NaN              118.0
2                0    NaN              132.0
3                0    NaN              129.0
4                0    NaN              121.0
..             ...    ...                ...
140              4    NaN              508.0
141              4    NaN              461.0
142              4    NaN              390.0
143              4    NaN              432.0
144              4    NaN              226.0

[145 rows x 9 columns]

#### 28. Discretize a continuous column into bins.

In [130]:
bins = [0, 100, 120, 140, 150]
labels = ['0-99', '100-119', '120-139', '140-150']

import_dataFrame['passengers_bin'] = pd.cut(import_dataFrame['passengers'], bins=bins, labels=labels)
print(import_dataFrame)

     year  month  passengers  normalized_passengers       date  day  \
0    1949      1        56.0              -1.412415 1949-01-01    1
1    1949      1        59.0              -1.362223 1949-01-02    2
2    1949      1        66.0              -1.245107 1949-01-03    3
3    1949      1        64.5              -1.270203 1949-01-04    4
4    1949      1        60.5              -1.337127 1949-01-05    5
..    ...    ...         ...                    ...        ...  ...
140  1949      5       254.0               1.900280 1949-05-21   21
141  1949      5       230.5               1.507107 1949-05-22   22
142  1949      5       195.0               0.913164 1949-05-23   23
143  1949      5       216.0               1.264510 1949-05-24   24
144  1949      5       113.0              -0.458760 1949-05-25   25

     month_encoded season  double passengers passengers_bin
0                0    NaN              112.0           0-99
1                0    NaN              118.0           0-99
2                0    NaN              132.0           0-99
3                0    NaN              129.0           0-99
4                0    NaN              121.0           0-99
..             ...    ...                ...            ...
140              4    NaN              508.0            NaN
141              4    NaN              461.0            NaN
142              4    NaN              390.0            NaN
143              4    NaN              432.0            NaN
144              4    NaN              226.0        100-119

[145 rows x 10 columns]

#### 29. Create polynomial features from existing numerical columns.

In [131]:
num_cols = import_dataFrame.select_dtypes(include='number').columns
polynomial_features = []
for degree in range(2, 4):
    for col in num_cols:
        new_col_name = f"{col}^{degree}"
        polynomial_features.append(import_dataFrame[col] ** degree)
import_dataFrame = pd.concat([import_dataFrame] + polynomial_features, axis=1)
print(import_dataFrame)

     year  month  passengers  normalized_passengers       date  day  \
0    1949      1        56.0              -1.412415 1949-01-01    1
1    1949      1        59.0              -1.362223 1949-01-02    2
2    1949      1        66.0              -1.245107 1949-01-03    3
3    1949      1        64.5              -1.270203 1949-01-04    4
4    1949      1        60.5              -1.337127 1949-01-05    5
..    ...    ...         ...                    ...        ...  ...
140  1949      5       254.0               1.900280 1949-05-21   21
141  1949      5       230.5               1.507107 1949-05-22   22
142  1949      5       195.0               0.913164 1949-05-23   23
143  1949      5       216.0               1.264510 1949-05-24   24
144  1949      5       113.0              -0.458760 1949-05-25   25

     month_encoded season  double passengers passengers_bin  ...  day  \
0                0    NaN              112.0           0-99  ...    1
1                0    NaN              118.0           0-99  ...    4
2                0    NaN              132.0           0-99  ...    9
3                0    NaN              129.0           0-99  ...   16
4                0    NaN              121.0           0-99  ...   25
..             ...    ...                ...            ...  ...  ...
140              4    NaN              508.0            NaN  ...  441
141              4    NaN              461.0            NaN  ...  484
142              4    NaN              390.0            NaN  ...  529
143              4    NaN              432.0            NaN  ...  576
144              4    NaN              226.0        100-119  ...  625

     month_encoded  double passengers        year  month    passengers  \
0                0            12544.0 -1186461243      1  1.756160e+05
1                0            13924.0 -1186461243      1  2.053790e+05
2                0            17424.0 -1186461243      1  2.874960e+05
3                0            16641.0 -1186461243      1  2.683361e+05
4                0            14641.0 -1186461243      1  2.214451e+05
..             ...                ...         ...    ...           ...
140             16           258064.0 -1186461243    125  1.638706e+07
141             16           212521.0 -1186461243    125  1.224652e+07
142             16           152100.0 -1186461243    125  7.414875e+06
143             16           186624.0 -1186461243    125  1.007770e+07
144             16            51076.0 -1186461243    125  1.442897e+06

     normalized_passengers    day  month_encoded  double passengers
0                -2.817650      1              0          1404928.0
1                -2.527810      8              0          1643032.0
2                -1.930280     27              0          2299968.0
3                -2.049368     64              0          2146689.0
4                -2.390659    125              0          1771561.0
..                     ...    ...            ...                ...
140               6.862034   9261             64        131096512.0
141               3.423198  10648             64         97972181.0
142               0.761458  12167             64         59319000.0
143               2.021935  13824             64         80621568.0
144              -0.096551  15625             64         11543176.0

[145 rows x 24 columns]